body {
  background: #3E4558;
}
form {
  width:400px;
  background:#337ab736;
  margin: 40px auto;
  border-radius: 10px;
  h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
    color:#fff;
  }
  p {
    margin:20px auto;
    width:320px;
    // background: #337ab7;
    color:#fff;
    font-size: 14px;
    input {
      width: 250px;
      height: 38px;
      margin-left:5px;
      border-radius:5px;
      border: none;
      outline: none;
      text-indent: 1em;
      color: gray;
      font-size:14px;
      }
    }
    #radio {
      width:320px;
      height: 38px;
      input {
        width: 12px;
        height: 12px;
        padding: 0;
        margin: 13px 6px;
      }
    }
    button {
      width: 320px;
      height: 38px;
      border-radius:5px;
      border: 0;
      background: #337ab7;
      color: #fff;
    }
    a {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      width:120px;
      height: 20px;
      margin-left:140px ;
      &:hover {
        color:gray;
        text-decoration: none;
      }
    }
  }
  
