body {
  background: #3E4558;
}
form {
  width:480px;
  background:#337ab736;
  margin: 40px auto;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
    padding-left: 0;
    color:#fff;
  }
  p {
    margin:20px auto;
    // background: #008000;
    margin:20px auto;
    width:420px;
    color:#fff;
    font-size: 14px;
    input {
      width: 250px;
      height: 38px;
      margin-left:5px;
      border-radius:5px;
      border: none;
      outline: none;
      text-indent: 1em;
      color: gray;
      font-size:14px;
      }
    }
    #radio {
      margin:20px auto;
      width:410px;
      input {
        width: 12px;
        height: 12px;
        padding: 0;
        margin: 13px 6px;
      }
    }
    button {
      margin-left:63px;
      width:250px;
      height: 38px;
      border-radius:5px;
      border: 0;
      background: #337ab7;
      color: #fff;
    }
    }
    #login {
      color: #fff;
      font-size:14px;
      text-decoration: none;
      text-align: center;
      display: block;
      height: 20px;
      width: 250px;
      margin: auto;
      margin-left: 84px;
      &:hover {
        color:gray;
        text-decoration: none;
      }
  }
  
