.body {
    background: #fff;
    flex: 1;
    padding: 0 40px;
    .navbar-form {
        padding: 0;
        .form-group {
            padding: 10px;
            padding-left: 0;
            .form-control {
                width: 300px;
                height: 30px;
                border: 1px solid rgb(116, 180, 223);
            }
        }
        .search {
            width: 90px;
            height: 30px;
            line-height: 30px;
            padding: 0
        }
    }
}


.table {
    text-align: center;
    thead {
        background: #337ab7;
        color: #fff;
    }
    border: 1px solid rgba(0, 0, 0, 0.5);
    th {
        text-align: center;
        border: 0.5px solid rgba(0, 0, 0, 0.5);
        width: 60px;
    }
    td {
        border: 0.5px solid rgba(0, 0, 0, 0.5);
        width: 60px;
    }
    .delete {
        &:hover {
            cursor: pointer;
            color: #337ab7;
        }
    }
}
