<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- bootstrap框架样式 -->
  <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">
  <!--去除浏览器默认样式 -->
  <link rel="stylesheet" href="../css/reset.css">
  <!-- 公共样式 -->
  <link rel="stylesheet" href="../css/common.css">
  <!-- 自己的样式 -->
  <link rel="stylesheet" href="../css/userInfo.css">
  <title>xx后台管理系统</title>
</head>

<body>
  <div class="container">
    <form class="navbar-form">
      <button type="button" class="search btn btn-primary">新增</button>
    </form>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>序号</th>
          <th>品牌LOGO</th>
          <th>品牌名称</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>apple</td>
          <td>苹果</td>
          <td><button>修改</button><button>删除</button></td>
        </tr>
      </tbody>
    </table>
    <ul class="pagination">
      <li class="disabled"><a href="/userInfo.html?page=<%= page-1 < 1 ? 1 : page-1 %>&pageSize=<%= pageSize %>"
          aria-label="Previous" style="cursor: pointer;"><span aria-hidden="true">«</span></a></li>
      <% for(var i = 0;i < totalPage; i++) { %>
      <li class="<%= page == (i+1) ? " active" : "" %>"><a href="/userInfo.html?page=<%= i+1 %>&pageSize=<%= pageSize %>">
          <%= i+1%><span class="sr-only">
          </span></a>
      </li>
      <%}%>
      <li>
        <a href="/userInfo.html?page=<%=page+1 < 1 ? 1 : page+1 %>&pageSize=<%= pageSize %>" aria-label="Next"><span
            aria-hidden="true">»</span></a>
      </li>
    </ul>
    p
</body>

</html>
<script src="../jQuery/jquery.min.js"></script>
<script src="../js/register.js"></script>